.pay-info-section {
    padding: 12rem 1.25rem 7rem 1.25rem;
    background-color: #292929;
    display: flex;
    justify-content: center;
    
    
}

.pay-info-section > main {
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    max-width: 55rem;
    text-align: left;
}
.pay-info-section > main > div {
    display: flex;
    justify-content: left;
   width:100%

}
.pay-info-section > main > h2 {
color: #dfdfdf;
font-size: 3rem;
line-height: 2.9rem;
margin-bottom: 0.5rem;
font-family: Space Grotesk,sans-serif;
}

.pay-info-section > main > p {
    color: #dfdfdf;
    font-size:1.4rem;
    line-height: 1.75rem;
    font-weight: 900;
    margin-bottom: 1rem;
    }
    .pay-info-section > main > div {
        display:flex;
        width:100%;
        justify-content: start;
    }
    .primary-btn-2 {
        color: #fff;
        text-align: center;
        width:86%;
        max-width: 30rem;
        transform-style: preserve-3d;
        background-color: #7f6aff;
        border: 1px solid #7f6aff;
        border-radius: 76px;
       
        cursor: pointer;
        padding: 18px 70px;
       font-size: 18px;
        font-weight: 700;
        line-height: 1.111em;
        text-decoration: none;
        font-family: 'Space Grotesk', sans-serif;
        transition: border-color .3s, background-color .3s, transform .3s, color .3s;
    }
    
    .primary-btn-2:hover {
        color: #fff;
        background-color: #7d42fb;
        border-color: #7d42fb;
        transform: translate3d(0, -3px, .01px);
    }

.jotform-section {
justify-content: center;
    display: flex;
    padding: 1rem 0rem 4rem 0;
}


@media screen and (min-width: 1700px) {
    .pay-info-section  {
        padding: 18rem 0 10rem 0;
    } 
}

@media screen and (max-width: 600px) {
    .pay-info-section  {
        padding: 18rem 2.5rem 10rem 2.5rem;
    } 
    .pay-info-section > main > h2 {
        font-size: 1.7rem;
        line-height: 1.8rem
    }
    .pay-info-section > main > p {
        font-size:1rem;
        line-height: 1.5rem;
        }
        .primary-btn-2 {
            width: 100%;
            font-size: 0.9rem;
        }
}