<section class="main-payment">
  <section class="pay-info-section">
    <main class="info-package">
      <div id="wrapper-icons">
        <mat-icon id="mat-info-icon">info</mat-icon>
      </div>
      <h2 id="font">{{ 'make-job-post.make-job-post1'|translate }}</h2>
      <p id="font">{{ 'make-job-post.make-job-post2'|translate }}</p>
      <!--<div>
        <a target="blank" href="https://form.jotform.com/231927354643056" class="primary-btn-2">{{
          'make-job-post.make-job-post3'|translate }}</a>
      </div>
      -->
    </main>
    <main class="package">
      <div>
        <header id="font">
          <h1>10000 Ft</h1>
          <div>
            <img src="../../../../assets/brand/removed-bg-oficial.png" />
          </div>
        </header>
        <ul id="font">
          <li>{{ 'package.package1'|translate }}</li>
          <li>{{ 'package.package2'|translate }}</li>
          <li>{{ 'package.package3'|translate }}</li>
          <li>{{ 'package.package4'|translate }}</li>
          <li>{{ 'package.package5'|translate }}</li>
          <li>{{ 'package.package6'|translate }}</li>
      
        </ul>
        <footer>
          <a target="_blank" href="https://form.jotform.com/231927354643056" id="primary-btn-2" class="custom-btn">{{ 'package.package7'|translate }}</a>
        </footer>
      </div>
    </main>
  </section>
</section>