<section class="main-payment">
  <section class="pay-info-section">
    <main>
      <div>
        <mat-icon id="mat-info-icon">info</mat-icon>
      </div>
      <h2 id="font">{{ 'make-job-post.make-job-post1'|translate }}</h2>
      <p id="font">{{ 'make-job-post.make-job-post2'|translate }}</p>
      <!--<div>
        <a target="blank" href="https://form.jotform.com/231927354643056" class="primary-btn-2">{{
          'make-job-post.make-job-post3'|translate }}</a>
      </div>
      -->
    </main>
    <main class="package">
      <div>
        <header id="font">
          <h1>10000 Ft</h1>
          <div>
            <img src="../../../../assets/brand/removed-bg-oficial.png" />
          </div>
        </header>
        <ul id="font">
          <li>30 days job ad</li>
          <li>For any kind of job</li>
          <li>Job ads are also posted on our instagram and facebook pages</li>
          <li>Unlimited applicants</li>
          <li>For jobs that require or not secondary education</li>
          <li>Accessible to all prospective applicants, irrespective of their location, size, and scope of operations.</li>
      
        </ul>
        <footer>
          <a target="_blank" href="https://form.jotform.com/231927354643056" id="primary-btn-2" class="custom-btn">Purchase</a>
        </footer>
      </div>
    </main>
  </section>
</section>