<footer>
    <div class="footer-main">
        <div class="footer-1">
            <p>{{ 'footer.footer1' | translate }}</p>
            <a>{{ 'footer.footer2' | translate }}</a>
        </div>
        <div class="footer-2">
            <p>{{ 'footer.footer3' | translate }} <a target="_blank" href="#">{{ 'footer.footer4' | translate }}</a></p>
        </div>
        <div class="footer-3">
            LOGO HERE
        </div>
    </div>
    <div class="footer-leo">
        <p>{{ 'footer.footer5' | translate }} <a target="_blank" href="https://www.linkedin.com/in/leoreus/">Leo Reus Oliveira</a></p>
    </div>
</footer>