<footer>
    <div class="footer-main">
        <div class="footer-1">
            <p>{{ 'footer.footer1' | translate }}</p>
            <a target="_blank"  href="https://forms.gle/h3LoDkHMHtEtdfxx9">{{ 'footer.footer2' | translate }}</a>
        </div>
        <div class="footer-2">
            <p>{{ 'footer.footer3' | translate }} <a >{{ 'footer.footer4' | translate }} (HU)</a></p>
            <p>{{ 'footer.footer3' | translate }} <a >{{ 'footer.footer4' | translate }} (EN)</a></p>
        </div>
        <div class="footer-3">
            <img src="../../../assets/brand/logo-bg.png"/>
        </div>
    </div>
    <div class="footer-leo">
        <p>{{ 'footer.footer5' | translate }} <a target="_blank" href="https://www.linkedin.com/in/leoreus/">Leo Reus Oliveira</a></p>
    </div>
</footer>