<section class="padded-section health-sciences">
    <h1 id="special-h1">{{ 'students.health-sciences' | translate }}</h1>
</section>

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/anaJulia.png" />
            </div>
            <h1 id="font">Ana Júlia Sandri</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>anajuliasandri@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Msc Public Health</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>Nurse, MBA Strategic People Management, with experience in coordination of a health public institution, specialized in primary care and health promotion. Training and supervising the activities of the technical team. Provide direct assistance to patients, carry out consultations, request laboratory tests and prescribe medication. Promote actions for disease prevention. Carry out care actions for children, women, adolescents, adults and the elderly. Provision of material resources.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/CV - Ana Júlia Sandri da Silva (1) - Ana Júlia Sandri da Silva.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
        </div>
    </main>

</section> 