<nav class="navbar fixed-top navbar-dark navbar-expand-xl bg-dark">
  <div class="container-fluid">
   <div class="logo-thumb">
    <img
     src="../../../assets/brand/removed-bg-oficial.png" class="logo" [routerLink]="'home'"/>
  </div>
 
    
    <label id="lang-label">
      <select #langSelect (change)="switchLanguage(langSelect.value)">
        <option *ngFor="let lang of languages" [value]="lang.code" [selected]="lang.code === getCurrentLanguage()">
          {{ lang.label }}
        </option>
      </select>
      <span class="loader" *ngIf="isLanguageChanging"></span>
    </label>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse gap" id="navbarScroll">
      <ul>
        <br class="nav-br">
        <br class="nav-br">
        <li [ngClass]="{ 'active': isRouteActive('home') }"><a (click)="closeNavbar()" [routerLink]="'home'">{{ 'navbar.nav1' | translate }}</a></li>
        <li [ngClass]="{ 'active': isRouteActive('contact') }"><a (click)="closeNavbar()" [routerLink]="'contact'">{{ 'navbar.nav2' | translate }}</a></li>
        <li [ngClass]="{ 'activez': isStudentRouteActive() }" class="nav-item dropdown">
          <a id="students" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">{{ 'navbar.nav3' | translate }}</a>
          <ul class="dropdown-menu bg-dark">
 
            <!-- new? <li> <a (click)="closeNavbar()" [routerLink]="'students/health-care'" class="dropdown-item">{{ 'students.medicine' | translate }}</a></li> -->
            <li> <a (click)="closeNavbar()" [routerLink]="'students/all'" class="dropdown-item">{{ 'students.health-sciences' | translate }}</a>
            <!-- new --><li> <a (click)="closeNavbar()" [routerLink]="'students/health-sciences'" class="dropdown-item">{{ 'students.health-sciences' | translate }}</a>
            <!-- new --> <li> <a (click)="closeNavbar()" [routerLink]="'students/economics-and-business'" class="dropdown-item">{{ 'students.economy' | translate }}</a>
               <!-- new<li> <a (click)="closeNavbar()" [routerLink]="'students/dentistry'" class="dropdown-item">{{ 'students.dentistry' | translate }}</a></li> -->
                 <!-- new<li> <a (click)="closeNavbar()" [routerLink]="'students/pharmacy'" class="dropdown-item">{{ 'students.pharmacy' | translate }}</a></li> -->
                           <li> <a (click)="closeNavbar()" [routerLink]="'students/engineering'" class="dropdown-item">{{ 'students.engineering' | translate }}</a></li>
                            <!-- new --><li> <a (click)="closeNavbar()" [routerLink]="'students/science-and-technology'" class="dropdown-item">{{ 'students.science-and-technology' | translate }}</a></li>
            <li> <a (click)="closeNavbar()" [routerLink]="'students/pedagogy'" class="dropdown-item">{{ 'students.pedagogy' | translate }}</a></li>

 <!-- new --><li> <a (click)="closeNavbar()" [routerLink]="'students/music'" class="dropdown-item">{{ 'students.music' | translate }}</a></li>
 <li> <a (click)="closeNavbar()" [routerLink]="'students/human-sciences'" class="dropdown-item">{{ 'students.human-sciences' | translate }}</a></li>
 <li> <a (click)="closeNavbar()" [routerLink]="'students/law'" class="dropdown-item">{{ 'students.law' | translate }}</a></li>
  <!-- new --><li> <a (click)="closeNavbar()" [routerLink]="'students/design'" class="dropdown-item">{{ 'students.design' | translate }}</a></li>
            <!-- new --> <li> <a (click)="closeNavbar()" [routerLink]="'students/it'" class="dropdown-item">{{ 'students.informatics' | translate }}</a></li>
           <!-- new -->  <li> <a (click)="closeNavbar()" [routerLink]="'students/agriculture-food-sciences-environmental-management'" class="dropdown-item">{{ 'students.agriculture-food-sciences-environmental-management' | translate }}</a></li>
            <li> <a (click)="closeNavbar()" [routerLink]="'students/private-classes'" class="dropdown-item">{{ 'students.private-classes' | translate }}</a></li>
           
            
           
           

          </ul>
        </li>
     
        <li [ngClass]="{ 'active': isRouteActive('job-positions') }"><a (click)="closeNavbar()" [routerLink]="'/job-positions'">{{ 'navbar.nav4' | translate }}</a>
        </li>
        <div class="btn-header-wrapper">
        <li class="btn-subs"><a  id="subscribe-btn" target="_blank" class="subscribe-btn"
            href="https://forms.gle/JmtwGEQ9eak4B8ZB8">{{ 'navbar.nav5' | translate }}</a></li>
        

        <li><a [routerLink]="'/make-job-post'"  (click)="closeNavbar()" id="job-btn" class="job-btn" >{{ 'navbar.nav6' | translate }}</a></li>
      </div>
        <a target="_blank" href="https://www.instagram.com/megyamelo/" id="insta"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"/></svg></a>
      
      </ul>
    </div>
  </div>
</nav>


