.navbar {
    z-index: 3;
    width: 100%;
    border-bottom: #535353 1px solid;
    display: block;
}

.btn-header-wrapper {
    display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.65rem;
}

.container-fluid {
    display: flex;
    padding: 0rem 0rem;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14.5px;

}
.navbar.fixed-top.navbar-dark, .dropdown-menu.bg-dark {
    background-color: #0c0c0c !important;
  }
.logo-thumb {
    height: 130px;
    width: 120px;
    height: auto;
   
}
.logo-thumb> img {
   
    height: 100%;
    width: 100%;
object-fit: contain;
}

#lang-label {
    padding-left: 1rem;
    display: flex;

}

.nav-br {
    display: none;
}

select,
option {
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(32, 33, 39);
    outline: none;
    color: rgb(223, 223, 223);
    border-radius: 7px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 13.5px;
    display: flex;
    justify-content: center;
    border: #7f6aff 1px solid;
}

.navbar-toggler {
    background-color: rgb(36, 36, 36);
}



.navbar-collapse {
    width: 80%;

}

.logo {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 0.5rem;
    color: rgb(223, 223, 223);
    cursor: pointer;

}

.logo>h1 {
    margin: 0;
    font-size: 1.3rem;
    color: rgb(223, 223, 223);
}

a {
    cursor: pointer;
}


#navbarScroll {
    justify-content: end;
}

#navbarScroll>ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.7rem;

}

.dropdown-menu {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 25rem;
    width: auto;
    border: #535353 1px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.dropdown-menu>li {
    border-bottom: 1px solid rgb(97, 97, 97);
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
}
.dropdown-menu>li>a {
    font-size: 1rem;
     width: 100%;
}
li>a {
    color: rgb(223, 223, 223);
    text-decoration: none;
    transition: 0.15s;
}

li>a:hover {
    color: #7f6aff;
}

.navbar ul li.active a,
.navbar ul li.activez a#students {
    color: #7f6aff;
    border-bottom: #7f6aff 1px solid;
}

.navbar ul li.active a {
    color: #7f6aff;
    border-bottom: #7f6aff 1px solid;
}

#insta {
    display: block;
    margin-inline-end: 1rem;
    background-color: #7f6aff;
    padding: 12px;
    border-radius: 100%;
    color: #dfdfdf;
    cursor: pointer;
    transition: 0.15s;
}

#insta:hover {
    color: #fff;
    background-color: #7d42fb;
    border-color: #7d42fb;
}

.job-btn {
    color: #fff;
    text-align: center;
    transform-style: preserve-3d;
    background-color: #7f6aff;
    border: 1px solid #7f6aff;
    border-radius: 76px;
    justify-content: center;
    padding: 13px 28px;
    font-size: 14.5px;
    font-weight: 700;
    line-height: 1.111em;
    text-decoration: none;
    transition: border-color .3s, background-color .3s, transform .3s, color .3s;
}


#job-btn:hover {
    color: #fff;
    background-color: #7d42fb;
    border-color: #7d42fb;
    box-shadow: 0 2px 4px #0000004d,0 0 10px #fff3;
}



.subscribe-btn {
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
    background-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 76px;
    padding: 13px 28px;
    cursor: pointer;
    font-size: 14.5px;
    line-height: 1.111em;
    border: 1px solid #fff;
    transition: border-color .3s, transform .3s, background-color .3s, color .3s;
}

#subscribe-btn:hover {
    color: #0c0c0c;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 2px 4px #0000004d,0 0 10px #fff3;

}

@media screen and (min-width: 1601px) {

    select,
    option,
    .job-btn,
    .subscribe-btn,
    .container-fluid {
        font-size: 17px;
    }
}

@media screen and (max-width: 1200px) {
    .subscribe-btn, .job-btn {
        padding: 18px 28px;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}


.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #7f6aff #7f6aff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width: 1200px) {
    #navbarScroll>ul {
        flex-direction: column;
        gap: 1.1rem;
        margin-top: 2rem;
        

    }
    .btn-header-wrapper {
        display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 1.3rem;
       padding-top: 0.75rem;
       width: 40%;
       padding-bottom: 0.7rem;
    }
    .btn-header-wrapper > li {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        
        
    }
    
    

    .dropdown-menu {
        left: -8.6rem;
    }

    .dropdown-menu>li>a {
        font-size: 11.5px;
        padding: 3px 7px;
    }

    .button-subs {
        margin-bottom: 1rem;
    }

    

   

    .container-fluid {
        font-size: 14px;
        padding: 13px 10px 13px 0px;

    }

    #lang-label {
        padding-left: 0rem;
    }

}
@media screen and (max-width: 900px) {
    
    
    .container-fluid>img {
        display: flex;
    margin-bottom: 0.75rem
}
    .container-fluid {
        font-size: 14px;
     
      }
      
select,
option {
height: 2.5rem;
font-size: 11px;
width: 4.5rem;
    } 
}
@media screen and (max-width: 734px) {
   
    .btn-header-wrapper {
        
        width: 65%;
    
     }
     .btn-header-wrapper > li {
         width: 100%;
        
         
         
     }
}

@media screen and (max-width: 520px) {
    .btn-header-wrapper {
        
        width: 93%;
    
     }
     .dropdown-menu {
        max-width: 24rem;
        left: -8.6rem;
     }
}
@media screen and (max-width: 320px) {
    .dropdown-menu>li>a {
        font-size: 10.5px;
    }
}