<section class="padded-section law">
    <h1 id="special-h1">{{ 'students.law' | translate }}</h1>
</section>

<section class="students-section-test">
    <main>
        <div class="students-left">
            <div>
                <img src="../../../../assets/team/leo.jpg" />
            </div>
            <h1>Leo Reus Oliveira</h1>
        </div>
        <div class="students-right">
            <div>
                <p>Email</p>
                <p>Leo Reus Oliveira</p>
            </div>
            <div>
                <p>Curso</p>
                <p>Food Sciences</p>
            </div>
            <div>
                <p></p>
                <p></p>
            </div>
            <div>
                <p></p>
            </div>
            <div>
                <p></p>
            </div>
        </div>
    </main>

</section>

<section class="students-section">

    <h1 id='students-h1'>Students will appear in this section once they subscribed. Currently, there are no students
        registered in this area.</h1>

</section>