<section class="padded-section law">
    <h1 id="special-h1">{{ 'students.law' | translate }}</h1>
</section>

<section class="students-section-test">
    <main>
        <div class="students-left">
            <div>
                <img src="../../../../assets/team/leo.jpg" />
            </div>
            <h1 id="font">Leo Reus Oliveira</h1>
        </div>
        <div class="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>Leo Reus Oliveira</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Food Sciences</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>nem szeretenek magyarul beszelni mert ezt a nyelvkyrva nehez ogazabol. BAAASZA KI AZ Z ELETEMROL wjjjslko qodoqdkq jdokfd qp´wdoqw ddsfj kodkfosdf kpdkfo kodkfdnem szeretenek magyarul beszelni mert ezt a nyelvkyrva nehez ogazabol. BAAASZA KI AZ Z ELETEMROL wjjjslko qodoqdkq jdokfd qp´wdoqw ddsfj kodkfosdf kpdkfo kodkfdnem szeretenek magyarul beszelni mert ezt a nyelvkyrva nehez ogazabol. BAAASZA KI AZ Z ELETEMROL wjjjslko qodoqdkq jdokfd qp´wdoqw ddsfj kodkfosdf kpdkfo kodkfdnem szeretenek magyarul beszelni mert ezt a nyelvkyrva nehez ogazabol. BAAASZA KI AZ Z ELETEMROL wjjjslko qodoqdkq jdokfd qp´wdoqw ddsfj kodkfosdf kpdkfo kodkfdnem szeretenek magyarul beszelni mert ezt a nyelvkyrva nehez ogazabol. BAAASZA KI AZ Z ELETEMROL wjjjslko qodoqdkq jdokfd qp´wdoqw ddsfj kodkfosdf kpdkfo kodkfd</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a class="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Portfolio:</strong>
                <a class="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" class="student-download" href="#" target="_blank">{{ 'students.list.download' | translate }}</a>
            </div>
        </div>
    </main>

</section>

<section class="students-section">

    <h1 id='students-h1'>Students will appear in this section once they subscribed. Currently, there are no students
        registered in this area.</h1>

</section>