<section class="job-position-section">
    <h1 class="font">Latest job positions</h1>
    <mat-icon (click)="scrollTo('jobs')" class="arrow">arrow_downward</mat-icon>
</section>

<section id="jobs" class="job-listing-section">
    <main>
        <p>Here are some of the latest job positions publised in our website. Currently there are no job positions published</p>
        <div>
            <p id="padding-p">Job added September 20, 2021</p>
            <h1>CRM Specialist (EXAMPLE)</h1>
            <p><strong>Categoria:</strong> Fudido</p>
            <p><strong>Contato:</strong> toponeacademiarh@gmail.com</p>
            <p><strong>Vaga:</strong> Estágio</p>
            <p><strong>Contato:</strong> toponeacademiarh@gmail.com</p>
            <br>
            <div>
                <strong>Description</strong>
                <p>Estagiário de marketing de mídias sociais. Enviar currículo e portfólio para
                    clarissa@carvalholeite.com.br com o assunto Estágio.

                    A vaga é para estágio à tarde das 13h30 às 18h. As atividades devem ser cumpridas presencialmente na
                    Rua Quintino Bocaiúva, 836, na loja de móveis Rejane Carvalho Leite, onde está localizado o estúdio.
                    Início em junho de 2023.

                    Atividades: Organização do calendário de publicações para o Instagram Produção de conteúdo para
                    redes sociais (Instagram e Pinterest) Captação e edição de imagens e vídeos Auxiliar na produção de
                    materiais gráficos (catálogos, folders, etc) Desenvolver campanhas de email marketing

                    Requisitos: Graduação em andamento em cursos de Design ou áreas correlatas Boa comunicação escrita
                    Proatividade Compromisso Criatividade Interesse em mídias sociais Organização

                    Conhecimentos em: Photoshop Illustrator Software de edição de vídeo</p>
            </div>
        </div>
        <div>
            <p id="padding-p">Job added September 20, 2021</p>
            <h1>CRM Specialist (EXAMPLE)</h1>
            <p><strong>Categoria:</strong> Fudido</p>
            <p><strong>Contato:</strong> toponeacademiarh@gmail.com</p>
            <p><strong>Vaga:</strong> Estágio</p>
            <p><strong>Contato:</strong> toponeacademiarh@gmail.com</p>
            <br>
            <div>
                <strong>Description</strong>
                <p>Estagiário de marketing de mídias sociais. Enviar currículo e portfólio para
                    clarissa@carvalholeite.com.br com o assunto Estágio.

                    A vaga é para estágio à tarde das 13h30 às 18h. As atividades devem ser cumpridas presencialmente na
                    Rua Quintino Bocaiúva, 836, na loja de móveis Rejane Carvalho Leite, onde está localizado o estúdio.
                    Início em junho de 2023.

                    Atividades: Organização do calendário de publicações para o Instagram Produção de conteúdo para
                    redes sociais (Instagram e Pinterest) Captação e edição de imagens e vídeos Auxiliar na produção de
                    materiais gráficos (catálogos, folders, etc) Desenvolver campanhas de email marketing

                    Requisitos: Graduação em andamento em cursos de Design ou áreas correlatas Boa comunicação escrita
                    Proatividade Compromisso Criatividade Interesse em mídias sociais Organização

                    Conhecimentos em: Photoshop Illustrator Software de edição de vídeo</p>
            </div>
        </div>
        
    </main>

</section>