<section class="job-position-section">
    <h1 class="font">{{'hero.jobs' | translate}}</h1>
    <mat-icon (click)="scrollTo('jobs')" class="arrow">arrow_downward</mat-icon>
</section>
<!--  -->
<section id="jobs" class="job-listing-section">
    <main>
        <p>{{'hero.jobs1' | translate}}</p>
        <!-- 
        <div>
            <p id="padding-p">Job added September 20, 2021</p>
            <h1>CRM Specialist (EXAMPLE)</h1>
            <p><strong>{{'hero.jobs2' | translate}}</strong> Fudido</p>
            <p><strong>{{'hero.jobs3' | translate}}</strong> toponeacademiarh@gmail.com</p>
            <p><strong>{{'hero.jobs4' | translate}}</strong> Estágio</p>
            <p><strong>{{'hero.jobs5' | translate}}</strong> 9210392399HUF</p>
            <br>
            <div>
                <strong>{{'hero.jobs6' | translate}}</strong>
                <p>Estagiário de marketing de mídias sociais. Enviar currículo e portfólio para
                    clarissa@carvalholeite.com.br com o assunto Estágio.

                    A vaga é para estágio à tarde das 13h30 às 18h. As atividades devem ser cumpridas presencialmente na
                    Rua Quintino Bocaiúva, 836, na loja de móveis Rejane Carvalho Leite, onde está localizado o estúdio.
                    Início em junho de 2023.

                    Atividades: Organização do calendário de publicações para o Instagram Produção de conteúdo para
                    redes sociais (Instagram e Pinterest) Captação e edição de imagens e vídeos Auxiliar na produção de
                    materiais gráficos (catálogos, folders, etc) Desenvolver campanhas de email marketing

                    Requisitos: Graduação em andamento em cursos de Design ou áreas correlatas Boa comunicação escrita
                    Proatividade Compromisso Criatividade Interesse em mídias sociais Organização

                    Conhecimentos em: Photoshop Illustrator Software de edição de vídeo</p>
            </div>
        </div>  -->
    </main>

</section>