.job-position-section {
    padding: 18rem 0 12rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
position: relative;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../../assets/bg-imgs/job-positions-bg.jpg");

    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    border-bottom: 1px solid #393939;
    
    

}
.arrow {
    padding: 2.8rem;
    border: 1px solid white;
    border-radius: 100%;
    transition: 0.2s;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    cursor: pointer;
    position: absolute;
    bottom: -4rem;
    backdrop-filter: blur(5px);
    z-index: 5;
}
.arrow:hover {
background-color: #7f6aff;
   border: 1px solid #7f6aff;
}
.job-position-section > h1 {
background-color: #88888802;
backdrop-filter: blur(5px);
padding: 2.5rem;
border-radius: 18px;
font-size: 2rem;
font-weight: 700;
}
.font {
    font-family: 'Space Grotesk', sans-serif;
}
.job-listing-section {
    padding: 19rem 0 10rem 0;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.job-listing-section > main > p {
    border-bottom: none;
    font-size: 2.5rem;
    line-height: 3.25rem;
    max-width: 50rem;
    text-decoration: none;
}
.job-listing-section > main > h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}
.job-listing-section > main > div {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    border-bottom: #535353 1px solid;
     border-top: #535353 1px solid;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
#padding-p {
    padding-bottom: 3rem;
}