.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15rem 0 10rem 0;
    position: relative;
    border-top: #333 4px solid;
    
    font-family: 'Space Grotesk', sans-serif;
}
#silhouette-c {
    
    position: absolute;
 right: 0rem;
 bottom: -17rem;
 z-index: -2;
 overflow: hidden;
 width: 20rem;

}
#silhouette-c1 {
    position: absolute;
    top: -15rem;
    left: -15rem;
}
.contact-wrapper {
    display: flex;
    gap: 4rem;
   
   
}
.contact-left {
 border-right: #333 1px solid;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 justify-content: center;
 padding-right: 3rem;
}
.left-upper {
    display: flex;
    flex-direction: column;
}
.left-upper > div > p, .left-downer > div > p {
    letter-spacing: .06em;
text-transform: uppercase;
font-size: 18px;
font-weight: 500;
line-height: 1.111em;
font-family: 'Space Grotesk', sans-serif;
}
.left-downer > p, .left-upper > p {
    color: #dbdbdb;
font-size: 24px;
font-weight: 700;
line-height: 1.417em;
font-family: 'Space Grotesk', sans-serif;

}
.contact-right {
    display: flex;
    
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 35rem;
}
form > h1 {

font-size: 80px;
font-weight: 700;
line-height: 1.125em;
font-family: 'Space Grotesk', sans-serif;
}
form >p {
    font-size: 1.2rem;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 2.2rem;
}
form > input {
    min-height: 73px;
background-color: rgba(0, 0, 0, 0);
border: 1px #e6e6e6;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: none;
  border-bottom-width: 1px;
border-bottom: 2px solid #0c0c0c;
  border-bottom-color: rgb(12, 12, 12);
border-radius: 0;
margin-bottom: 0;
outline: none;
padding: 20px 0 16px;
font-size: 20px;
line-height: 1.1em;
transition: color .3s, border-color .3s;
border-bottom-color: #e6e6e6;
color: #eeeeee;
}
.error-message {
    color: red;
}
textarea {
    max-height: 150px;
max-width: 100%;
margin-top: 1.5rem;
min-height: 86px;
outline: none;
min-width: 100%;
background-color: rgba(0, 0, 0, 0);
border: 1px  #e6e6e6;
  border-bottom-color: rgb(230, 230, 230);
  border-bottom-style: none;
  border-bottom-width: 1px;
border-bottom: 2px solid #cccccc;
  border-bottom-color:  #e6e6e6;
margin-bottom: 0;
padding: 0 0 16px;
color: white;
font-size: 20px;
line-height: 1.5em;
transition: color .3s, border-color .3s;
}
form > button {
    color: #fff;
    margin-top: 2rem;
text-align: center;
transform-style: preserve-3d;
background-color: #7f6aff;
border: 1px solid #7f6aff;
border-radius: 76px;
justify-content: center;
cursor: pointer;
padding: 26px 38px;
font-size: 18px;
font-weight: 700;
line-height: 1.111em;
max-width: 20rem;
text-decoration: none;
font-family: 'Space Grotesk', sans-serif;
transition: border-color .3s, background-color .3s, transform .3s, color .3s;
}
form >button:hover {
    color: #fff;
    background-color: #7d42fb;
    border-color: #7d42fb;
    transform: translate3d(0, -3px, .01px);
}