<section class="padded-section pharmacy">
    <h1 id="special-h1">{{ 'students.pharmacy' | translate }}</h1>
</section>
<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/juliana.jpg" />
            </div>
            <h1 id="font">Juliana Ribeiro</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>julianafr94@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Msc. Biotechnology</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>Pharmacist, post-graduate in neuroscience and behaviour and currently pursuing a Pharmaceutical biotechnology Master's degree at the University of Pécs, Hungary. My experience includes research in biochemistry, quality control of finished products and cosmetics, drug manipulation, scientific writing and delivering high-quality pharmaceutical care, and facilitating access to health promotion information for patients and my community.
                    I have previous experience as a teaching assistant and supervised the internship of a pharmacy student in her last semester at a hospital. My primary skills include analytic capacity, Leadership, Communication, Teamwork, Project Management, Problem-Solving, Time and Conflict Management.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/CV europass - Juliana Fuhr Ribeiro 2023 - juliana ribeiro.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/juliana-fuhr-pharmacist/" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 