<section class="padded-section science-and-technology">
    <h1 id="special-h1">{{ 'students.science-and-technology' | translate }}</h1>
</section>

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/william.jpeg" />
            </div>
            <h1 id="font">William Padilha Lemes</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>williampadilhalemes@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Msc Biology</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I am a Msc Biology student passionate about continuous learning and staying up-to-date with the latest trends in my study area, including techonology and management. I am a strong communicator adept at simplifying complex ideas for diverse audiences. I thoroughly enjoy collaborative teamwork and excel as a detail-oriented problem solver with a knack for analytical thinking. Eager to collaborate with like-minded professionals and contribute to innovative projects that push boundaries and drive growth.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/CV_william - William Lemes.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/william-lemes-6b03a1214/?locale=en_US" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/mostafa.jpg" />
            </div>
            <h1 id="font">Mostafa Eltantawy</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>mostafaessamabdelhady@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Biochemical engineering </p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I'm Mostafa Essam, twenty one years old Biochemical engineering student at university of Debrecen.
                    I'm going to start my third year of the course next semester which will be a milestone for me to get nearer and nearer to kick start my career, Interested in renewable and sustainable energy and all chemical industries that change into sustainable one's. Honestly I don't have that type of experience any company seeks but I'm enthusiastic and a fast learner who prefers hard work over talent.
                    Open for any type of student jobs and of course it's preferred to be relatable to my field of studies and interest.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/CV - Mostafa Essam Abdelhady Eltantawy (1) - Mostafa Eltantawy.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/mostafa-eltantawy-973032244" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section>

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/alisa.jpg" />
            </div>
            <h1 id="font">Alisa Burova</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>alica.burova@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Biochemical Engineering BSc</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I am interested in very different areas of Biology: Genetics, Biochemistry, Microbiology, Molecular biology etc and now I would be glad to try myself in any of this areas. As I am a second year student I would like to find a work when I can start my research work and make my future area of study more concrete.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/CV - Alisa Burova - Alice Burova.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/alisa-burova" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/brayam.jpg" />
            </div>
            <h1 id="font">Brayam Porphirio </h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>porphirio.brayam@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Biomérnök</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>Biochemical Engineering student at the University of Debrecen, Hungary, with the transfer of studies in Biological Sciences: Biophysics from the Federal University of Rio de Janeiro, Brazil.

                    Previous experience in research laboratories, immunology, parasitology and cell biology, former Operational Director of TecX Jr. - Junior Company of the Federal University of Rio de Janeiro. Had previous experience as a Professor of Biology in Pre-Vestibular Social Montessori Education between February 2019 to January 2020. Also, former Bio-CubeSat Researcher at Minerva Rockets and Minerva Sats (Aerospace Research Teams of the Federal University of Rio de Janeiro), developing research of astrobiological interest using cyanobacteria.
                    
                    Former English Language Tutor at the Universidade Federal da Fronteira Sul (UFFS) in the Extension Project "English at UFFS" and a volunteer in the health project "Cancer Fighters" of AIESEC, in Cairo (Egypt).</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/Porphirio_De_Souza_Brayam_angol_57d87f - Bryan Porphirio.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/porphiriob/" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/pavle.jpg" />
            </div>
            <h1 id="font">Pavle Veljovic</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>pveljovic2002@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Biochemical Engineering</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>My name is Veljovic Pavle, I come from Serbia and am currently pursuing my bachelor's degree at the University of Debrecen in the field of Biochemical Engineering.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a id="student-download"></a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="http://linkedin.com/in/pavle-veljovic-93b1b9256" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/nicolas.jpg" />
            </div>
            <h1 id="font">Nicolas Grijalva-Borja</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>nicolasgrijalva13@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>MSc Molecular Biology</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I am a master's student currently pursuing my studies in Debrecen, Hungary, where I am honing my passion for science. With a strong foundation in laboratory techniques and a deep understanding of project management, I am well-equipped to contribute effectively to scientific endeavors.
                    My approach to career opportunities is characterized by an open-mindedness and eagerness to explore new avenues. I am excited to embark on new challenges and contribute my skills and knowledge to meaningful projects.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/NicolasCV2023 - Nicolas Grijalva.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/nicolasgrijalvaborja/" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 