<section class="padded-section economy">
    <h1 id="special-h1">{{ 'students.finance-business' | translate }}</h1>
</section>

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/BB0CEB39-C921-4137-BBF7-1C2579D7DEE5 - Jaweria Kazmi.jpeg" />
            </div>
            <h1 id="font">Kazmi Syeda jaweria</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>Jaweriakazmi04@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Bachelor in business administration and management</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I have strong communication and problem solving skills along with leadership skills I also have strong knowledge in excel.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/CV - SYEDA JAWERIA KAZMI - Jaweria Kazmi.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a></a>
            </div>
        </div>
    </main>

</section> 


<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/photo_2023-10-01_21-56-46 - Zhanibek Tokmurzin.jpg" />
            </div>
            <h1 id="font">Zhanibek Tokmurzin</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>zhanibektokmurzin@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Business Administration</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>Hello, I am a student at University at Debrecen and majoring in Business Administration 7 Economics. Beginning from high school I was enjoying pure math, finances and economics. I wrote an economic research related to my home country Kazakhstan. I know fluently Kazakh, Russian and English languages. Also, I am great user of Excel and Powerpoint. I love to do speeches and present my new ideas.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/Resume Zhanibek (1) - Zhanibek Tokmurzin.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/zhanibek-tokmurzin-603182207/" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/jelena.jpeg" />
            </div>
            <h1 id="font">Jelena Ye</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>jelenaye02@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Business Administration and Management </p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I'm a business major with a passion for strategy and innovation. My career goal is to excel in a corporate setting, leveraging my skills in market analysis, financial modeling, and strategic planning. I thrive on problem-solving and collaborative teamwork, aiming to contribute to a company's growth and success.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a id="student-download"></a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;"  target="_blank"></a>
            </div>
        </div>
    </main>

</section> 


<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/Petra.jpeg" />
            </div>
            <h1 id="font">Petra Ragályi</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>ragalyipetra@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Kereskedelem és marketing, commerce and marketing</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I’d like to get more work experience:)</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a></a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;"></a>
            </div>
        </div>
    </main>
</section>

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/5EB6901F-BE68-4778-8F77-A6C2EE9769E1 - lili kocsis.jpeg" />
            </div>
            <h1 id="font">Lili kocsis</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>Kocsislilike@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Kereskedelem és marketing</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>Debreceni Egyetem Gazdaságtudományi karán végeztem, kereskedelem és marketing szakon.
                    Energikus, nagy munkabírással rendelkező fiatal vagyok, aki az egyetemi évei alatt végig dolgozott vendéglátásban.
                    Rengeteg tapasztalatot gyűjtöttem az évek alatt, de ami a legfőbb, az a kommunikáció és értékesítés terén szerzett releváns tapasztalatom. 
                    Életvidámságomat leginkább a többi emberből merítem, ugyanis feltölt ha emberek között lehetek, segíthetek nekik, esetleg bármely problémát együtt orvosolhatunk.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/ÖNÉLETRAJZ - lili kocsis.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;"></a>
            </div>
        </div>
    </main>
</section>


<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/nicolas.jpg" />
            </div>
            <h1 id="font">Nicolas Grijalva-Borja</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>nicolasgrijalva13@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>MSc Molecular Biology</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I am a master's student currently pursuing my studies in Debrecen, Hungary, where I am honing my passion for science. With a strong foundation in laboratory techniques and a deep understanding of project management, I am well-equipped to contribute effectively to scientific endeavors.
                    My approach to career opportunities is characterized by an open-mindedness and eagerness to explore new avenues. I am excited to embark on new challenges and contribute my skills and knowledge to meaningful projects.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/NicolasCV2023 - Nicolas Grijalva.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/nicolasgrijalvaborja/" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/937555FB-23F1-4AC4-8A94-1700F5090614 - Melek Yonat.jpeg" />
            </div>
            <h1 id="font">Aymelek Yonat</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>melekyonat@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Bachelor degree</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I am a biologist with 4 years experience in pharmaceutical industry.
                    I am studying English Language Course at Debrecen University.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/Aymelek_YONAT_CV_Güncel - Melek Yonat.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" target="_blank"></a>
            </div>
        </div>
    </main>

</section> 