<section class="hero-section">
    <span id="silhouette2">
        <svg width="590" height="590" viewBox="0 0 590 590" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="294.897" cy="294.897" r="293.332" stroke="#7F6AFF" stroke-width="3.12971" />
            <path
                d="M529.831 294.898C529.831 424.876 424.643 530.24 294.893 530.24C165.143 530.24 59.9549 424.876 59.9549 294.898C59.9549 164.92 165.143 59.557 294.893 59.557C424.643 59.557 529.831 164.92 529.831 294.898Z"
                stroke="#7F6AFF" stroke-width="3.12971" />
            <path
                d="M469.527 294.898C469.527 395.314 391.286 476.611 294.901 476.611C198.515 476.611 120.275 395.314 120.275 294.898C120.275 194.482 198.515 113.185 294.901 113.185C391.286 113.185 469.527 194.482 469.527 294.898Z"
                stroke="#7F6AFF" stroke-width="3.12971" />
        </svg></span>
    <div class="hero-wrapper">
        <div class="logoThumb"><img src="../../../assets/brand/logoCandidate.jpg"/></div>
        <p>{{ 'hero.hero-1' | translate }}</p>
        <div class="hero-buttons">
            <a target="_blank" href="https://form.jotform.com/231927354643056" class="primary-btn">{{ 'navbar.nav6' | translate }}</a>
            <a [routerLink]="'make-job-post'"  class="post-btn">{{ 'navbar.nav5' | translate }}</a>
        </div>
    </div>

    <span id="silhouette">
        <svg width="590" height="590" viewBox="0 0 590 590" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="294.897" cy="294.897" r="293.332" stroke="#7F6AFF" stroke-width="3.12971" />
            <path
                d="M529.831 294.898C529.831 424.876 424.643 530.24 294.893 530.24C165.143 530.24 59.9549 424.876 59.9549 294.898C59.9549 164.92 165.143 59.557 294.893 59.557C424.643 59.557 529.831 164.92 529.831 294.898Z"
                stroke="#7F6AFF" stroke-width="3.12971" />
            <path
                d="M469.527 294.898C469.527 395.314 391.286 476.611 294.901 476.611C198.515 476.611 120.275 395.314 120.275 294.898C120.275 194.482 198.515 113.185 294.901 113.185C391.286 113.185 469.527 194.482 469.527 294.898Z"
                stroke="#7F6AFF" stroke-width="3.12971" />
        </svg></span>
</section>

<!-- LANDING SECTION --><!-- LANDING SECTION --><!-- LANDING SECTION --><!-- LANDING SECTION -->

  
<section id="landing" class="landing-section">
    <div class="landing-wrapper">
        <header>
            <h1>{{ 'landing.landing1' | translate }}</h1>
        </header>
        <main class="landing-main">
            <div>
                <span><svg width="140" height="140" viewBox="0 0 140 140" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_4014_33508)">
                            <circle cx="70" cy="70" r="69" fill="white" stroke="#0C0C0C" stroke-width="2" />
                            <rect x="42.7419" y="40.4346" width="57.9224" height="57.9224" stroke="#7F6AFF" />
                            <path
                                d="M94.4146 62.5949C103.778 62.5949 111.369 55.004 111.369 45.6402C111.369 36.2764 103.778 28.6855 94.4146 28.6855C85.0508 28.6855 77.46 36.2764 77.46 45.6402C77.46 55.004 85.0508 62.5949 94.4146 62.5949Z"
                                fill="#0C0C0C" />
                            <path
                                d="M70 82.9412C72.233 78.3681 75.7056 74.514 80.0221 71.8181C84.3386 69.1222 89.3255 67.6929 94.4147 67.6929C99.5039 67.6929 104.491 69.1222 108.807 71.8181C113.124 74.514 116.596 78.3681 118.829 82.9412"
                                fill="#0C0C0C" />
                            <path
                                d="M45.5853 84.3258C54.9491 84.3258 62.54 76.735 62.54 67.3712C62.54 58.0074 54.9491 50.4165 45.5853 50.4165C36.2215 50.4165 28.6306 58.0074 28.6306 67.3712C28.6306 76.735 36.2215 84.3258 45.5853 84.3258Z"
                                fill="#7F6AFF" stroke="#7F6AFF" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M21.1707 104.672C23.4037 100.099 26.8762 96.245 31.1928 93.5491C35.5093 90.8532 40.4962 89.4238 45.5854 89.4238C50.6746 89.4238 55.6615 90.8532 59.978 93.5491C64.2945 96.245 67.7671 100.099 70.0001 104.672"
                                fill="#7F6AFF" stroke="#7F6AFF" stroke-width="2" stroke-linecap="square"
                                stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_4014_33508">
                                <rect width="140" height="140" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </span>
                <div>
                    <h1>{{ 'landing.landing2' | translate }}</h1>
                </div>
                <a target="_blank" href="https://form.jotform.com/231927354643056" class="primary-btn-2">{{ 'navbar.nav6' | translate }}</a>
            </div>
            <div>
                <span><svg width="140" height="140" viewBox="0 0 140 140" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_4014_33527)">
                            <circle cx="70" cy="70" r="69" fill="white" stroke="#0C0C0C" stroke-width="2" />
                            <circle cx="70.0001" cy="60.7476" r="31.8537" stroke="#7F6AFF" stroke-width="1.49398" />
                            <rect x="61.9763" y="96.5801" width="16.0478" height="15.2729" fill="#0C0C0C" />
                            <circle cx="70.0001" cy="60.7479" r="26.6474" fill="#7F6AFF" stroke="white"
                                stroke-width="1.55545" />
                        </g>
                        <defs>
                            <clipPath id="clip0_4014_33527">
                                <rect width="140" height="140" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </span>
                <div>
                    <h1 id="adjust-h1">{{ 'landing.landing3' | translate }}</h1>
                    <br>
                </div>
                <a target="_blank" href="https://forms.gle/h3LoDkHMHtEtdfxx9" class="primary-btn-2">{{ 'navbar.nav5' | translate }}</a>
            </div>
            <div>
                <div class="help-wrapper">
                    <span id="help-icon"><mat-icon id="icon">help_outline</mat-icon></span>
                </div>
                <div>
                    <h1>{{ 'landing.landing4' | translate }}</h1>
                    <br>
                </div>
                <a (click)="scrollTo('faq')" class="primary-btn-2">{{ 'landing.landing-seemore' | translate }}</a>
            </div>
        </main>
    </div>
</section>

<!-- FAQ SECTION --><!-- FAQ SECTION --><!-- FAQ SECTION -->

<section id='faq' class="faq-section">
    <div>
        <header>{{ 'faq.faq1' | translate }}</header>
        <div class="faq-individual">
            <nav class="navbar navbar-dark borderz">
                <div class="container-fluid custom">
                    <h1>{{ 'faq.faq2' | translate }}</h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown1"
                        aria-controls="dropdown1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            <div class="collapse bg-dark" id="dropdown1">
                <div class="bg-dark p-3 border-radius borderz">
                    <h4 class="font drop-h4 text-white h4">{{ 'faq.faq3' | translate }}
                    </h4>
                </div>
            </div>
        </div>
        <div>
            
          </div>
        <div class="faq-individual">
            <nav class="navbar navbar-dark borderz">
                <div class="container-fluid custom">
                    <h1>{{ 'faq.faq4' | translate }}</h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown2"
                        aria-controls="dropdown2" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            <div class="collapse bg-dark" id="dropdown2">
                <div class="bg-dark p-3 border-radius borderz">
                    <h4 class="font drop-h4 text-white h4">{{ 'faq.faq5' | translate }} <a target="_blank" href="#"> {{ 'faq.faq5.1' | translate }}</a></h4>
                </div>
            </div>
        </div>
        <div class="faq-individual">
            <nav class="navbar navbar-dark borderz">
                <div class="container-fluid custom">
                    <h1>{{ 'faq.faq6' | translate }}</h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown3"
                        aria-controls="dropdown3" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            <div class="collapse bg-dark" id="dropdown3">
                <div class="bg-dark p-3 border-radius borderz">
                    <h4 class="font drop-h4 text-white h4">{{ 'faq.faq7' | translate }} <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScfHIlmqtRifROtwyWbsNCWe-LF-HtNebA1Tvbkk8WjTs44LA/viewform?usp=sf_link">{{ 'faq.faq7.1' | translate }}</a></h4>
                </div>
            </div>
        </div>
        <div class="faq-individual">
            <nav class="navbar navbar-dark borderz">
                <div class="container-fluid custom">
                    <h1>{{ 'faq.faq8' | translate }}</h1>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown4"
                        aria-controls="dropdown4" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
            <div class="collapse bg-dark" id="dropdown4">
                <div class="bg-dark p-3 border-radius borderz">
                    <h4 class="font text-white drop-h4 h4"> {{ 'faq.faq9' | translate }} <a [routerLink]="'/job-positions'"> {{ 'faq.faq9.1' | translate }} </a> {{ 'faq.faq9.2' | translate }}</h4>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="team-section">
    <header id="font" >{{ 'team.team1' | translate }}</header>
    <main>
        <div>
            <div>
                <img alt="Leo Reus Photo" src="../../../assets/team/leo.jpg"/>
            </div>
            <h2 id="font">Leo Reus</h2>
            <p id="font">Chief Technology Officer</p>
        </div>
        <div>
            <div>
                <img alt="Regina Fehér Photo" src="../../../assets/team/regina.jpg"/>
            </div>
            <h2 id="font">Regina Fehér</h2>
            <p id="font">Chief Marketing Officer</p>
        </div>
    </main>

</section>