.hero-section {
    padding: 15rem 0 15rem 0.25rem;
    position: relative;
}

.hero-section::after {
    position: absolute;
    /*IMPORTANT!*/
    background-color: transparent;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    z-index: 1;
    bottom: 0rem;
    background: url(../../../assets/overlay-bottom.png);
}

.font {
    font-family: 'Space Grotesk', sans-serif;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-wrapper>h1,
.hero-wrapper>p {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 2.5rem;
}
.logoThumb {
    width: auto;
}
.logoThumb > img {
    width: 100%;
    object-fit: cover;
height: auto;

}
.hero-wrapper>h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.125em;
}

.hero-wrapper>p {
    font-size: 1.7rem;
}
#silhouette svg,
#silhouette2 svg {
  width: 400px; 
  height: 400px; 
}
#silhouette {
    position: absolute;
    top: 38rem;
    left: -10rem;
    z-index: -1;
}

#silhouette2 {
    position: absolute;
    right:0rem;
    width: 18rem;
    top: -4rem;
    z-index: -1;
    overflow: hidden;

}

.hero-buttons {
    display: flex;
    margin-top: 2.5rem;
    gap: 1.5rem;

}

.primary-btn {
    color: #fff;
    text-align: center;
    transform-style: preserve-3d;
    background-color: #7f6aff;
    border: 1px solid #7f6aff;
    border-radius: 76px;
    justify-content: center;
    cursor: pointer;
    padding: 26px 38px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.111em;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    transition: border-color .3s, background-color .3s, transform .3s, color .3s;
}

.primary-btn:hover {
    color: #fff;
    background-color: #7d42fb;
    border-color: #7d42fb;
    transform: translate3d(0, -3px, .01px);
}

.post-btn {
    color: #fff;
    text-align: center;
    text-decoration: none;
    transform-style: preserve-3d;
    background-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 76px;
    padding: 26px 38px;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.111em;
    border: 1px solid #fff;
    transition: border-color .3s, transform .3s, background-color .3s, color .3s;
}

.post-btn:hover {
    color: #0c0c0c;
    background-color: #fff;
    border-color: #fff;
}

.help-wrapper {
    display: flex;
    justify-content: flex-start;

}


#icon {
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 100%;
    border: 2px solid rgb(41, 41, 41);
    color: #7d42fb;
    font-size: 4rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* LANDING SECTION */ /* LANDING SECTION *//* LANDING SECTION */ /* LANDING SECTION */ /* LANDING SECTION *//* LANDING SECTION *//* LANDING SECTION */


.landing-section {
    background-color: rgb(243, 243, 243);
    padding: 4rem 3rem 6rem 3rem;
    z-index: 3;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-wrapper>header {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.landing-wrapper>header>h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 3rem;

    text-align: center;

    max-width: 60rem;
    line-height: 3.25rem;
    color: #292929
}

.landing-main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.landing-main>div {
    max-width: 35rem;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 5px;
    padding: 5rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.landing-main>div>div>h1 {
    padding-top: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    max-width: 30rem;
    font-weight: 700;
    color: #292929;
    ;
    padding-bottom: 1rem;

}

.primary-btn-2 {
    color: #fff;
    text-align: center;
    transform-style: preserve-3d;
    background-color: #7f6aff;
    border: 1px solid #7f6aff;
    border-radius: 76px;
    justify-content: center;
    cursor: pointer;
    padding: 26px 38px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.111em;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    transition: border-color .3s, background-color .3s, transform .3s, color .3s;
}

.primary-btn-2:hover {
    color: #fff;
    background-color: #7d42fb;
    border-color: #7d42fb;
    transform: translate3d(0, -3px, .01px);
}

/* FAQ SECTION */ /* FAQ SECTION */ /* FAQ SECTION *//* FAQ SECTION */ /* FAQ SECTION *//* FAQ SECTION */
.faq-section {
    padding: 5rem 6rem 2rem 6rem;
    position: relative;
    background-color: #0c0c0c;
}

.faq-section>div>header {
    font-size: 3rem;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 4rem;
    font-size: 900;
 
}



.custom>h1,
.borderz {
    font-family: 'Space Grotesk', sans-serif;
}

.faq-section::after {
    position: absolute;
    /*IMPORTANT!*/
    background-color: transparent;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    z-index: 1;
    top: 0rem;
    transform: rotateX(180deg);
    background: url(../../../assets/overlay-bottom.png);
}

.borderz {
    border-bottom: #535353 1px solid;
}

.faq-individual {
    margin-bottom: 3rem;
}

.font>a {
    color: #7f6aff;
}

.border-radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* TEAM-SECTION */ /* TEAM-SECTION */ /* TEAM-SECTION *//* TEAM-SECTION *//* TEAM-SECTION */
.team-section {
    padding: 1rem 0 5rem 0;
}
.team-section > header {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.team-section > main {
display: flex;
justify-content: center;
gap: 3rem;
flex-wrap: wrap;
}
.team-section > main > div {
    display: flex;
    flex-direction: column;
 
    align-items: center;
}
.team-section > main > div > div {
    width: 18rem;
    height: 18rem;  
    padding-bottom: 0.3rem;
}
.team-section > main > div > div > h2 {
    margin: 0;
    padding-top: 0.8rem;
} 
.team-section > main > div > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 2px 4px #0000004d,0 0 10px #fff3;
    border: #535353 .7px solid;
    filter: brightness(0.85);
}
@media screen and (min-width:1650px) {
    .hero-section {
        padding: 14rem 0 24rem 1rem;
    }
    #silhouette {
        top: 47rem;
} 
}
    
@media screen and (max-width:1016px) {
    .hero-section {
        padding: 18rem 0 18rem 0;
        position: relative;
    }
    #silhouette {
      
        top: 39rem;
        left: -10rem;
        
    }
    
    #silhouette2 {
        right:0rem;
        width: 18rem;
        top: -7rem;
        z-index: -1;
    
    }
}
@media screen and (max-width:900px) {
    #silhouette {
        top: 44rem;
        left: -10rem;
    }
}
@media screen and (max-width: 648px) {

    .post-btn,
    .primary-btn,
    .hero-wrapper>p {
        font-size: 15px;
        width: 100%;
    }
    

    .hero-wrapper>h1 {
        font-size: 3rem;
        width: 100%;
    }

    .hero-buttons {
        flex-direction: column;
        width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    /* FAQ */
    .faq-section {
        padding: 10rem 1.5rem 2.5rem 1.5rem;
    }
    /* FAQ */
    #silhouette {
        top: 50rem;
        left: -10rem;
    }
    
    #silhouette2 {
        right:0rem;
        width: 13rem;

        top: -7rem;
        z-index: -1;
    
    }
}

@media screen and (max-width: 492px) {
    .hero-wrapper {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .hero-buttons {
        display: flex;
        margin-top: 2.5rem;
        gap: 1.5rem;
        width: 100%;
        padding: 0;

    }

    .hero-wrapper>p {
        font-size: 16px;
        line-height: 1.6rem;

        width: 15rem;
    }
}

/* LANDING SECTION */
@media screen and (max-width: 710px) {
    .landing-section {
        padding: 4rem 1.5rem 4rem 1.5rem;
    }
   
    .team-section > header {
        
        font-size: 2rem;
     line-height: 2.5rem;
      
    }
    .team-section > main > div > div {
        width: 15rem;
        height: 15rem;  
      
    }


/* LANDING SECTION */
    .landing-wrapper>header>h1 {
        font-size: 2rem;
        line-height: 2.5rem;

    }
}

@media screen and (max-width: 516px) {
    .landing-main>div {
        max-width: 35rem;
        border: 2px solid rgb(63, 63, 63);
        padding: 3rem 1.3rem 3rem 1.3rem;
    }

    .landing-wrapper>header>h1 {
        font-size: 1.6rem;
        line-height: 2.5rem;

    }

    .landing-main>div>div>h1 {
        font-size: 1.5rem;
    }

    .landing-main>div>a {
        font-size: 0.9rem;
    }
    
    .logoThumb > img {
        width: 90%;
        object-fit: cover;
    height: auto;
    
    }
    
}

@media screen and (max-width: 432px) {
    .landing-main>div>div>h1 {
        font-size: 1.2rem;
    }
    
}

/* FAQ SECTION */

@media screen and (max-width: 932px) {
    
    
    .faq-section>div>header {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }
    .custom > h1 {
font-size: 1.1rem;
line-height: 1.85rem;
    }
    .drop-h4 {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 796px) { 
.custom {
    flex-direction: column;
    align-items: flex-start;
}
}
@media screen and (min-width: 1440px) {
    .landing-main
    .faq-section {
        padding: 10rem 20rem 12rem 20rem;
    }
}
@media screen and (min-width: 1700px) {
    .faq-section {
        padding: 10rem 28rem 12rem 28rem;
    }
}
