<section class="padded-section engineering">
    <h1 id="special-h1">{{ 'students.engineering' | translate }}</h1>
</section>

<section id="students-section-test">
    <main>
        <div id="students-left">
            <div>
                <img src="../../../../assets/students-imgs/mostafa.jpg" />
            </div>
            <h1 id="font">Mostafa Eltantawy</h1>
        </div>
        <div id="students-right">
            <div id="font">
                <strong>{{ 'students.list.email' | translate }}</strong>
                <p>mostafaessamabdelhady@gmail.com</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.degree' | translate }}</strong>
                <p>Biochemical engineering </p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.description' | translate }}</strong>
                <p>I'm Mostafa Essam, twenty one years old Biochemical engineering student at university of Debrecen.
                    I'm going to start my third year of the course next semester which will be a milestone for me to get nearer and nearer to kick start my career, Interested in renewable and sustainable energy and all chemical industries that change into sustainable one's. Honestly I don't have that type of experience any company seeks but I'm enthusiastic and a fast learner who prefers hard work over talent.
                    Open for any type of student jobs and of course it's preferred to be relatable to my field of studies and interest.</p>
            </div>
            <div id="font">
                <strong>{{ 'students.list.cv' | translate }}</strong>
                <a download="Download-CV" href="../../../../assets/cv/CV - Mostafa Essam Abdelhady Eltantawy (1) - Mostafa Eltantawy.pdf" id="student-download">{{ 'students.list.download' | translate }}</a>
            </div>
            <div id="font">
                <strong>Linkedin:</strong>
                <a style="text-decoration: none;" id="student-download" href="https://www.linkedin.com/in/mostafa-eltantawy-973032244" target="_blank">Link:</a>
            </div>
        </div>
    </main>

</section> 


